# This file defines the owners of code in the repo. The review of at least one
# of these users will be required in order to merge a pull request.

# Global Owners
*        @t-rad679 @borgille @gitbrantley
